#browser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  }
  .spinner-border{
   align-content: center!important;
   justify-content: center;
  }

  #availableItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    height:90vh;
    padding-bottom: 20px;
  }