#browser {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75%;
  }

  #availableItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    height:90vh;
    padding-bottom: 20px;
  }