
  
  
  .mySearch {
    display: flex;
    padding-bottom: 10px;
  }

  input {
    background-color: transparent;
    border:none;
    height: 100%;
    font-size: 1.25 rem;
    width: 100%;
    /* margin-left: 5px; */
  
  }
  
 
