body {
    background-image: url("https://images.pexels.com/photos/3560168/pexels-photo-3560168.jpeg?cs=srgb&dl=pexels-matt-hardy-3560168.jpg&fm=jpg");
    
}

.carousel {
    /* width: 50em; */

}

#home {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
}